<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/dashboard" style="font-weight:bold">HOME</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="header">
        <span class="welcome-message text-uppercase" style="font-size: xx-large; font-weight: bold;">Welcome, {{
            session['current_user']['first_name'] }}</span>
        <div class="header-links">
            <a href="/logout">Log Out</a>
        </div>
    <div class='z-10 w-full h-[95px] flex justify-center items-center px-4 bg-transparent '>

            <ul class='flex'>
                <li class='text-2xl p-2 bg-sky-400 rounded-full mx-3 hover:rounded-full hover:border-2 hover:border-[#00a6be]'>
                    <a href="/">Dashboard</a>
                </li>
                <li class='text-2xl p-2 mx-3 bg-sky-400 rounded-full hover:rounded-full hover:border-2 hover:border-[#00a6be]'>
                    <a href="/about">Something</a>
                </li>
                <div class='text-black text-5xl font-bold mx-3'>
                    Do it to it
                </div>
                <li class='text-2xl p-2 mx-3 bg-sky-400 rounded-full hover:rounded-full hover:border-2 hover:border-[#00a6be]'>
                    <a href="/location">Something</a>
                </li>
                <li class='text-2xl p-2 mx-3 bg-sky-400 rounded-full hover:rounded-full hover:border-2 hover:border-[#00a6be]'>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
    </div>
    <span class="flex justify-center text-2xl font-bold m-4">Welcome, {{ session['current_user']['first_name'] }}</span>

    <div class="flex justify-center">
        <h1 class="text-red-600 text-2xl">ADD Form</h1>
    </div>

    <div class="worko-tabs">
        <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
        <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
        <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
        <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" />
        <input class="state" type="radio" title="tab-five" name="tabs-state" id="tab-five" />
        <input class="state" type="radio" title="tab-six" name="tabs-state" id="tab-six" />
        <input class="state" type="radio" title="tab-seven" name="tabs-state" id="tab-seven" />
        <input class="state" type="radio" title="tab-eight" name="tabs-state" id="tab-eight" />

        <div class="tabs flex-tabs">
            <label for="tab-one" id="tab-one-label" class="tab font-bold">Technologies</label>
            <label for="tab-two" id="tab-two-label" class="tab font-bold">Specializations</label>
            <label for="tab-three" id="tab-three-label" class="tab font-bold">Industries</label>
            <label for="tab-four" id="tab-four-label" class="tab font-bold">Companies</label>
            <label for="tab-five" id="tab-five-label" class="tab font-bold">Locations</label>
            <label for="tab-six" id="tab-six-label" class="tab font-bold">Interviews</label>
            <label for="tab-seven" id="tab-seven-label" class="tab font-bold">Jobs</label>
            <label for="tab-eight" id="tab-eight-label" class="tab font-bold">Contacts</label>


            <div id="tab-one-panel" class="panel active">
              <h3>Responsive CSS Tabs - Flexbox</h3>
              <p>CSS only tabs built using flexbox, when the viewport drops below 600px wide the tabs turn into an accordion by chaging the flex order of the elements.  Will need to alter css if more tabs are added.  each tab could be a seperate list of items </p>
            </div>
            <div id="tab-two-panel" class="panel">
                Tab two content
            </div>
            <div id="tab-three-panel" class="panel">
                Tab three content
            </div>
            <div id="tab-four-panel" class="panel">
                Tab four content
            </div>
            <div id="tab-five-panel" class="panel">
                Tab five content
            </div>
            <div id="tab-six-panel" class="panel">
                Tab six content
            </div>
            <div id="tab-seven-panel" class="panel">
                Tab seven content
            </div>
            <div id="tab-eight-panel" class="panel">
                Tab eight content
            </div>
        </div>
    </div>

    <div class="outer-container flex justify-center m-4">
        <h2 class="text-4xl font-bold">Top Priorities</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <table class="table table-hover col dashboard-style table-dark">
            <thead>
                <tr>
                    <th>Priorities</th>
                    <th>Tags</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Priority text</td>
                    <td> Priority tags</td>
                    <td> Priority level</td>
                    <td >
                        <a href="/dashboard" class="btn btn-success">Completed</a>
                    </td>

                </tr>
            </tbody>
    </div>
</body>
