<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/dashboard" style="font-weight:bold">HOME</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="header">
        <span class="welcome-message text-uppercase" style ="font-size: xx-large; font-weight: bold;">Welcome, {{ session['current_user']['first_name'] }}</span>
        <div class="header-links">
            <a href="/logout">Log Out</a>
        </div>
    </div>
    <div class="outer-container">
        <h2>Cool Stuff Comin'</h2>
    </div>
    <div class="container">
        <table class="table table-hover col dashboard-style table-dark">
            <thead>
                <tr>
                    <th>Priorities</th>
                    <th>Tags</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
    </div>
    
</body>
