<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta text="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
</head>

<body>
    <div class='z-10 w-full h-[95px] flex justify-center items-center px-4 bg-transparent '>
        <ul class='flex'>
            <li
                class='text-2xl p-2 mx-3 bg-sky-400 rounded-full hover:rounded-full hover:border-2 hover:border-[#00a6be] text-light'>
                <a href="/">Dashboard</a>
            </li>
            <div class='text-black text-5xl font-bold mx-3'>
                DO IT TO IT
            </div>
            <li
                class='text-2xl p-2 mx-3 bg-sky-400 rounded-full hover:rounded-full hover:border-2 hover:border-[#00a6be] text-light'>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
    <span class="flex justify-center text-4xl font-bold m-4">Welcome, {{ session['current_user']['first_name'] }}</span>
    <>
        <div>{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-danger card invalid-feedback mx-0 mb-0 p-1 text-center">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="flex justify-center">
            <h3 class="text-2xl font-bold m-4">Edit {{priority.id}}</h3>
        </div>
        <form class="card col-12 mx-auto w-2/3 bg-secondary text-white p-3 " 
        action="/priorities/{{priority.id}}/update" method="POST">
            <div class="ml-5">
                <div class="mb-3 col-md-6">
                    <label for="exampleFormControlTextarea1" class="form-label text-2xl font-bold">priority text:</label>
                    <input type="textarea" class="form-control" id="text" placeholder="{{priority.text}}"
                            name="text">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="text-2xl font-bold" for="level">Level:</label>
                    <select name="level" id="level">
                        <option class="text-slate-900" value="3">High</option>
                        <option class="text-slate-900" value="2">Medium</option>
                        <option class="text-slate-900" value="1">Low</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="update" class="px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 shadow-xl">
                </div>
            </div>
        </form>
    </div>
</body>