
/* Android 2.3 :checked fix */
@keyframes fake {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
body {        
    animation: fake 1s infinite;
}

.worko-tabs {
    margin: 20px;
  	width: 95%;
  
    .state{
      position: absolute;
      left: -10000px;
    }
  
    .flex-tabs{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
        
        .tab{
          flex-grow: 1;
          max-height: 40px;
        }
      
        .panel {
          background-color: #fff;
          padding: 20px;
          min-height: 300px;
          display: none;
          width: 100%;
          flex-basis: auto;
      }
    }

    .tab {
      display: inline-block;
      padding: 10px;
      vertical-align: top;
      background-color: #eee;
      cursor: hand;
      cursor: pointer;
      border-left: 10px solid #ccc;
      
        &:hover{
          background-color: #fff;
        }
    }  
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label,
#tab-five:checked ~ .tabs #tab-five-label,
#tab-six:checked ~ .tabs #tab-six-label,
#tab-seven:checked ~ .tabs #tab-seven-label,
#tab-eight:checked ~ .tabs #tab-eight-label{
    background-color: #fff;
    cursor: default;
    border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel,
#tab-five:checked ~ .tabs #tab-five-panel,
#tab-six:checked ~ .tabs #tab-six-panel,
#tab-seven:checked ~ .tabs #tab-seven-panel,
#tab-eight:checked ~ .tabs #tab-eight-panel{
    display: block;
}

@media (max-width: 600px){
  .flex-tabs{
    flex-direction: column;
    
    .tab{
      background: #fff;
      border-bottom: 1px solid #ccc;
      
        &:last-of-type{
          border-bottom: none;
        }
    }
    
    #tab-one-label{order:1;}
    #tab-two-label{order: 3;}
    #tab-three-label{order: 5;};
    #tab-four-label{order: 7;};
    #tab-five-label{order: 9;};
    #tab-six-label{order: 11;};
    #tab-seven-label{order: 13;};
    #tab-eight-label{order: 15;};
    #tab-one-panel{order: 2;}
    #tab-two-panel{order: 4;}
    #tab-three-panel{order: 6;}
    #tab-four-panel{ order: 8;}
    #tab-five-panel{order: 10;}
    #tab-six-panel{order: 12;}
    #tab-seven-panel{order: 14;}
    #tab-eight-panel{order: 16;}
  }
  
    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label,
    #tab-four:checked ~ .tabs #tab-four-label,
    #tab-five:checked ~ .tabs #tab-five-label,
    #tab-six:checked ~ .tabs #tab-six-label,
    #tab-seven:checked ~ .tabs #tab-seven-label,
    #tab-eight:checked ~ .tabs #tab-eight-label{
      border-bottom: none;
    }
  
  #tab-one:checked ~ .tabs #tab-one-panel,
  #tab-two:checked ~ .tabs #tab-two-panel,
  #tab-three:checked ~ .tabs #tab-three-panel,
  #tab-four:checked ~ .tabs #tab-four-panel
  #tab-five:checked ~ .tabs #tab-five-panel,
  #tab-six:checked ~ .tabs #tab-six-panel,
  #tab-seven:checked ~ .tabs #tab-seven-panel,
  #tab-eight:checked ~ .tabs #tab-eight-panel{
    border-bottom: 1px solid #ccc;
  }
}

